{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Email2A.I.</h1>
    <p class="lead">Email2A.I. - Your home to streamlined, AI-based information</p>
    <p><a href="https://github.com/sdburdick/CEG-7370" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<h1 style="color:darkgreen"><b>Today's top information:</b></h1>
<div class="row">
    <div class="col-md-4">
        <p>{{leftS}}</p>
        <h2>{{leftC}}</h2>
        
    </div>
    <div class="col-md-4">
        <p>{{centerS}}</p>
        <h2>{{centerC}}</h2>
        <p><a class="btn btn-default" href="https://pypi.org/">Expand &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>{{rightS}}</p>
        <h2>{{rightC}}</h2>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
<div></div>
<h1 style="color:darkblue"><b>Project X:</b></h1>
<div class="row">
    <div class="col-md-4">
        <p>{{pxLs}}</p>
        <h2>{{pxLc}}</h2>
        <p><a class="btn btn-default" href="https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fraw.githubusercontent.com%2Fsdburdick%2FDjangoEmailToAI_test%2Fmaster%2FProjectXPlans.docx&wdOrigin=BROWSELINK">View Attachment&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>{{pxCs}}</p>
        <h2>{{pxCc}}</h2>
        <p><a class="btn btn-default" href="https://pypi.org/">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p>{{pxRs}}</p>
        <h2>{{pxRc}}</h2>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">View &raquo;</a></p>
    </div>
</div>
{% endblock %}
