{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Email2A.I.</h1>
    <p class="lead">Email2A.I. - Your home to streamlined, AI-based information</p>
    <p><a href="https://github.com/sdburdick/CEG-7370" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>{{leftS}}</h2>
        <p>{{leftC}}</p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>{{centerS}}</h2>
        <p>{{centerC}}</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>{{rightS}}</h2>
        <p>{{rightC}}</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
